<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>发表意见-页面</title>
</head>
<body>
<div class="title">发表意见-页面</div>
<div class="data-edit clear">
	<form method="post">
	<table>
	    <tr><td><input type="hidden" name="id"></td></tr>
		<tr><td>意见内容</td></tr>
		<tr>
			<td><textarea name="view" style="width:300px;height:200px;" value=" "></textarea></td>
		</tr>
		<tr class="tr_btn center">
			<td colspan="2"><input type="submit" value="确定" /><input type="reset" value="重置" /></td>
		</tr>
	</table>
	</form>
</div>
</body></html>
