<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>签退 页面</title>
</head>
<div class="title">签退-页面</div><div class="title-btn left"><a href="__CONTROLLER__/index">返回</a></div>
<div class="data-edit clear">
	<form action="__URL__/do_delete" method="post">
	<table width="300">
         <tr><td>签退ID<input name="id"  type="text" value="{$Think.session.Student_ID}"/></td></tr>
        
		<tr class="tr_btn center"><td colspan="2"><input type="submit" value="确定" /></td></tr>
	</table>
	</form>
</div>

