<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="data-list clear">
<h3 style="text-align:left">教职工信息表</h3>
<form method="post" enctype="multipart/form-data" style="align:center">
<table  border="1" cellspacing="0px" >
<tr>
<th width="150"><p style="text-align:center">ID</p></th>
<th width="150"> <p style="text-align:center">姓名</p></th>
<th width="150"> <p style="text-align:center">性别</p></th>
<th width="150"> <p style="text-align:center">所在班级</p></th>
<th width="150"> <p style="text-align:center">签到情况</p></th>
<th width="150"> <p style="text-align:center">签到时间</p></th>
<th width="150"> <p style="text-align:center">操作</p></th>
</tr>
<foreach name="teacher.list" item="v">
<td style="text-align:center">{$v.Teacher_ID}</td>
<td style="text-align:center">{$v.Teacher_NAME}</td>
<td style="text-align:center">{$v.Teacher_SEX}</td>
<td style="text-align:center">{$v.Teacher_CLA}</td>
<td style="text-align:center">{$v.Teacher_STA}</td>
<td style="text-align:center">{$v.Teacher_TIME}</td>
<td class="center"><a href="__CONTROLLER__/revise/Teacher_ID/{$v.Teacher_ID}">修改</a>
<a href="__CONTROLLER__/del/Teacher_ID/{$v.Teacher_ID}">删除</a>
</td></tr>
</foreach>
</table>
<div class="pagelist">{$teacher.page}</div>
</div>
<script>
$("select").change(function(){
	windows.location.href="__ACTION__/"+$(this).val();
});
$(function(){
	$("tr:odd").addClass("odd");
});
}
</script>
</body>
</html>