<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>教师假条审核</title>
</head>
<body>
<div class="title">假条审核</div>
<div class="data-list clear">
<form method="post" action="">
	<table>
	<input type="hidden" name="id" value="{$tleave.id}">
		<tr><td width="200">请假原因</td>
		<td>{$tleave.reason}</td></tr>
		<tr><td>请假时间</td>
		<td>{$tleave.timestart}</td></tr>
		<tr><td>销假时间</td>
		<td>{$tleave.timeend}</td></tr>
		<tr><td>审核状态</td>
		<td><input type="radio" name="state" id="" value="1">通过&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" name="state" id="" value="0"> 未通过</td></tr>
		<tr><td>&nbsp;</td><td><input style="width:50px;" type="submit" value="确  定" /></td></tr>
	</table>
	</form>
</div>
</body>
</html>