<div class="title">修改通知</div>
<div class="data-edit clear">
<form method="post" enctype="multipart/form-data">
<table>
<tr><th>开始时间：</th><td> <input name="timestart"  type="datetime-local"/></td></tr>
<tr><th>原因：</th><td><textarea name="reason">{$tleave.reason}</textarea></td></tr>
<tr><th>结束时间：</th><td><input name="timeend"  type="datetime-local"/></td></tr>
<tr><td><input type="hidden" name="state" value="-1"></td></tr>
<tr class="tr_btn center">
<td colspan="2"><input type="submit" value="确定" /></td>
</tr>
</table>
</form>
</div>