{__NOLAYOUT__}<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>教师 - 登录</title>
	<link href="__PUBLIC__/css/teacher.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body class="login">
	<div class="login_box">
		<form method="post">
		<h1>欢迎教师登录</h1>
		<table>
			<tr><th>用户名：</th><td><input type="text" name="user" /></td></tr>
			<tr><th>密码：</th><td><input type="password" name="pwd" /></td></tr>
			<tr><th>验证码：</th><td><input type="text" name="verify" /></td></tr>
			<tr><td>&nbsp;</td><td><img src="__CONTROLLER__/getVerify" onclick="this.src='__CONTROLLER__/getVerify/'+Math.random()"/></td></tr>
			<tr><td>&nbsp;</td><td><input class="button" type="submit" value="登　录" /></td></tr>
		</table>
		</form>
	</div>
</body>
</html>