<div class="title">发布通知</div>
<div class="title-btn left"><a href="__CONTROLLER__/index">已发布通知</a></div>
<div class="data-edit clear">
	<form method="post" action="__URL__/do_add">
	<table>
	<tr><td>通知主题</td><td>
    <input type="text" name="theme" id="theme"></td></tr>
    <tr><td>通知内容</td><td>
    <textarea name="comment" id="comment" placeholder="不能超过100字"></textarea></td></tr>
    <tr><td>&nbsp;</td><td><input style="width:50px;" type="submit" value="发 布" /></td></tr>
    </table>
	</form>
	</div>