 <html>
<head>
	<meta charset="UTF-8">
	<title>家长端 - 修改密码</title>
	<link href="__PUBLIC__/css/student.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body class="login">
	<div class="login_box">
<form method ="post" class ="form-horizo​​ntal" action =" ">
<table border="0" align="center">
 <tr><td>姓名</td><td><input type="text" name="name" value="{$Think.session.Student_NAME}"></td></tr>
 <tr><td>ID</td><td><input type="text" name="id" value="{$Think.session.Student_ID}"></td></tr>
 <tr><td>密码改为</td><td><input type="password" name="pwd"></td></tr>
 <tr><td><button type="submit" value="提交">提交</button></td></tr>
 </table>
 </form>
 </div></body>