<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>删除请假记录 页面</title>
</head>
<div class="title">删除请假记录-页面</div><div class="title-btn left"><a href="__CONTROLLER__/look">查看审核状态</a></div>
<div class="data-edit clear">
	<form action="__URL__/delete" method="post">
	<table width="300">
         <tr><td>请输入id  <input name="id"  type="text" value=""/></td></tr>
        
		<tr class="tr_btn center"><td colspan="2"><input type="submit" value="确定" /><input type="reset" value="重置" /></td></tr>
	</table>
	</form>
</div>
