<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>幼儿园管理系统-教师端</title>
	<link href="__PUBLIC__/css/teacher.css" rel="stylesheet" />
	<script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="top">
	<h1 class="left">幼儿园管理系统教师端</h1>
	<ul class="right">
		<li>欢迎您：{$Think.session.Teacher_NAME}</li>
		<li>|</li><li><a href="http://{$Think.SERVER.HTTP_HOST}__ROOT__/index.php/Home/Index/Index/index.html">前台首页</a></li>
		<li>|</li><li><a href="__MODULE__/Login/logout">退出登录</a></li>
	</ul>
</div>
<div id="main">
	<div id="menu" class="left">
		<ul><li><a href="__MODULE__/Index/index" id="Index_index">首页</a></li>
			<li><a href="__MODULE__/Teacher/index" id="Teacher_index">个人信息</a></li>
			<li><a href="__MODULE__/Student/index" id="Student_index">学生信息</a></li>
			<li><a href="__MODULE__/Sign/index" id="Sign_index">考勤管理</a></li>
			<li><a href="__MODULE__/Leave/index" id="Leave_index">学生请假</a></li>
			<li><a href="__MODULE__/Goods/index" id="Notice_index">园长通知</a></li>
			<li><a href="__MODULE__/Message/add" id="Message_add">发布通知</a></li>
			<li><a href="__MODULE__/Tleave/index" id="Tleave_index">申请请假</a></li>
			<li><a href="__MODULE__/Tview/add" id="Tview_add">发表意见</a></li>
		</ul>
	</div>
	<div id="content">
		<div class="item">{__CONTENT__}</div>
	</div>
</div>
<script>
	$("#{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}").addClass("curr");
</script>
</body>
</html>