<div class="title">教师-通知</div>

<div class="data-list clear">
	<table border="0">
		<tr align="center"><th width="50">id</th>
		<th width="100">主题</th>
		<th width="170">内容</th>
        <th width="100">时间</th>
        <th width="60">发布教师</th>
        </tr>
		<foreach name="message.list" item="v">
		<tr><td>{$v.id}</td>
			<td>{$v.theme}</td>
			<td class="center">{$v.comment}</td>
			<td class="center">{$v.time}</td>
			<td class="center">{$v.name}</td>
			</tr>
		</foreach>
	</table>
	<div class="pagelist">{$message.page}</div>
</div>













